.App {
  font-family : 'Roboto', sans-serif;
  color: #333;
  margin: 20px;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

/* Form Styling */
form >input, form > select, form > button {
  margin: 10px 0;
  padding: 8px 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-left: 4px;
}

form > button {
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  margin-bottom: 30px;
}

form > button:hover {
  background-color: #45a049;
}

.expense-title {
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
  color: #2c3e50
}

.income-title{
  font-size: 24px;
  margin-top: 30px;
text-align: center;
  color: #2c3e50
}

/* Styling for Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td{
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th{
  background-color: #f2f2f2;
}

h1,h2,h3 {
  color:#2c3e50
  
}

h1{
font-size: 24px;
}

h2, h3 {
  font-size: 22px;
  text-align: center;
}


.boxlayout {
  background-color: #4CAF50;  
  color: white;              
  font-weight: bold;         
  padding: 10px 15px;        
  border-radius: 5px;         
  text-align: center;        
  margin-bottom: 30px;     
  font-size: 20px;
}

/* Chart area */
.piechart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 500px;
  height:550px;
 margin-bottom: 30px;
}